/* Default CSS for mobile viewport */

/*
Fonts:
font-family: 'Fira Mono', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Squada One', cursive;
*/

:root {
  --yellow: #fff503;
  --black: #000000;
  --white: #ffffff;
}

/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
}

/* Main default styles */
html {
  display: flex;
  font-size: 110%; /* Set a bigger default font size*/
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

h1 {
  font-size: 2rem;
}

h1,
h2 {
  font-family: 'Squada One', cursive;
  font-weight: 400;
}

nav {
  font-family: "Fira Mono", monospace;
}

nav a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}
/* END OF Main default styles */

/* Navigation and header */
header {
  display: grid;
  grid-template-columns: 60px auto 60px;
  background-color: ;
}

.main-title {
  grid-column: 2/3;
  align-self: center;
}

#logo {
  width: 40px;
  padding: .5rem;
}

.menu-button {
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 8px;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  margin: auto auto;
}

nav {
  grid-column: 1/4;
}

.menu-title {
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: .5rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.top-nav .arrow {
  grid-column: 1/3;
  color: var(--black);
  text-align: center;
  margin: -2px 0 -3px 0;
  font-weight: 600;
}

.top-nav .menu-item {
  grid-column: 1/3;
  padding: 1rem 1rem;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--black);
  text-align: center;
}

/* Hide the navigation Menu*/
.top-nav {
  display: none;
}

/* Display menu when clicked */
.top-nav.clicked{
  display: block;
}

.header-image {
  grid-column: 1/4;
  margin: 1rem auto;
}

#groot-img {
  width: 240px;
  border: 1px solid black;
  border-radius: 50%;
}
/* END OF Navigation and header */
