/* Default CSS for mobile viewport */

/*
Fonts:
font-family: 'Fira Mono', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/

:root {
    --yellow: #fff503;
    --black: #000000;
    --white: #ffffff;
}

/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
}

/* Set a bigger default font size*/
html {
    font-size: 110%;
    font-family: 'Inter', sans-serif;
}

h1, h2 {
    font-family: 'Noto Sans', sans-serif;
}

nav {
    font-family: 'Inter', sans-serif;
}

#groot-img {
    width: 240px;
}